<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Add book</title>
    <div th:replace="fragments/header.html :: header-css"/>
</head>
<body>
<div th:replace="fragments/header.html :: header"/>

<div class="container bg-secondary text-light p-4">
    <form action="/admin/addBook" id="book-inform" method="POST">

        <div class="row">
            <div class="col">
                <label> Nazwisko autora </label>
            </div>
            <div class="col">
                <select name="author">
                    <tr th:each="author: ${authors}">
                        <option name="author" th:text= "${author.surname}">author</option>
                    </tr>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label> Tytuł </label>
            </div>
            <div class="col">
                <input type="text" name="title">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label> Gatunek </label>
            </div>
            <div class="col">
                <select name="type">
                    <tr th:each="type: ${types}">
                        <option name="type" th:text= "${type.name}">type</option>
                    </tr>
                </select>
            </div>
        </div>
        <div class="row">
            <input type="submit" class="btn btn-primary" value="ADD"> <a
                href="/" class="btn btn-info"> CANCEL </a>
        </div>
    </form>
</div>
</body>
</html>